@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,500;1,700&family=Outfit:wght@400;700&display=swap');

* {
    font-family: 'Epilogue', sans-serif;
}
.App {
    background-color:#ededed;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}
.sectionApp {
    position: relative;
    width: 90%;
    height: 750px;
    background-color: #ededed;
    justify-content: center;
    align-items: center;
    top: 50px;
    left: 70px;
}
.mobile_e {
    position: absolute;
    color: #364f6b;
    font-size: 28px;
    left: 509px;
    top: 561px
}
.mobile_p {
    position: absolute;
    color: #364f6b;
    font-size: 28px;
    left: 506px;
    top: 564px;
    opacity: 0.3;
}
.name {
    position: relative;
    font-size: 80px;
    left: 120px;
    top: 280px;
    color: #323330;
}
.description {
    position: relative;
    font-size: 25px;
    left: 120px;
    top: 290px;
    font-style: italic;
    color: #323330;
}
.phone {
    position: relative;
    width: 300px;
    height: 600px;
    top: -50px;
    left: 1000px;
}
/*indugency*/
.text_phone{
    display: none;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 87% 100%, 50% 75%, 0% 75%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 87% 100%, 50% 75%, 0% 75%);
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #364f6b;
    
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    left: 760px;
    top: 93px;
}
.text_phone h3{
    position: relative;
    padding: 8px;
    top: -20px;
    color: white;
}

@media (max-width: 600px) {

    .sectionApp {
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 650px;
        background-color: #ededed;
        top: 50px;
        left: 0px;
    }
    
    .name {
        position: relative;
        left: 0px;
        font-size: 40px;
        top: 20px;
        color: #323330;
    }

    .description {
        position: relative;
        font-size: 20px;
        left: 0px;
        top: 30px;
        color: #323330;
    }

    .logo {
        position: relative;
        display: block;
        left: 0px;
        top: 40px;
        width: 250px;
        height: 400px;
        background: url('../images/logo_transparent.png') no-repeat center;
        background-size: cover;
    }
}
