@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,500;1,700&family=Outfit:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
}
.App {
    background-color: #202020;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
.sectionProject {
    position: relative;
    width: 1368px;
    top: 20px;
    background-color: #2a2828;
    height: 700px;
    justify-content: center;
    align-items: center;
    left: 70px;
}
video {
    width: 100%;
    height: 100%;
    left: 0px;
    right: 0px;
    background-color: #878080;
}
.sovt_project {
    position: relative;
    width: 100%;
    height: 100%;
    top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.explain_icons_area {
    position: relative;
    width: 96%;
    height: 80px;
    padding: 20px;
    /*background-color: #3c3939;*/
    font-size: 20px;
    color: aliceblue;
    left: 15px;
}
.explain_icons_area p {
    position: relative;
    width: 100%;
    left: 35px;
}
.block_1 {
    position: relative;
    width: 600px;
    height: 400px;
    top: 20px;
    border-radius: 20px;
}
.block_2 {
    position: relative;
    width: 600px;
    height: 400px;
    top: 20px;
}
.block_3 {
    position: relative;
    width: 600px;
    height: 400px;
    bottom: 30px;
}
.block_4 {
    position: relative;
    width: 600px;
    height: 400px;
    bottom: 30px;
}
.title_block {
    position: relative;
    width: 100%;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.title_block h4 {
    color: rgb(155, 152, 152);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}
.image_block {
    position: relative;
    width: 100%;
    height: 290px;
}
.area {
    position: relative;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
}
.button-23 {
  width: 49.9%;
  border: 1px solid #3c3939;
  box-sizing: border-box;
  background: #3c3939;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  position: relative;
  text-align: center;
  text-decoration: none;
}
.button-23:hover {
    background-color: #6f6d6d;
}
.link {
    height: 1px;
}
.link:hover {
    text-decoration: none!important;
    background-color: #6f6d6d;
}
.github_buttom{
    position: relative;
    width: 45%;
    height: 100%;
}
video {
    width: 100%;
    height: 100%;
}